<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- CONFIGURE JOINTS OF THE ROBOT -->
    <ros2_control name="GazeboSystem" type="System">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <!-- FRONT RIGHT LEG -->
        <joint name="FR_hip_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="FR_uleg_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.785</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="FR_lleg_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">1.57</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <!-- FRONT LEFT LEG -->
        <joint name="FL_hip_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="FL_uleg_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.785</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="FL_lleg_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">1.57</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <!-- BACK RIGHT LEG -->
        <joint name="BR_hip_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="BR_uleg_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.785</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="BR_lleg_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">1.57</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <!-- BACK LEFT LEG -->
        <joint name="BL_hip_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="BL_uleg_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.785</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="BL_lleg_joint">
            <command_interface name="effort">
                <param name="min">-100.0</param>
                <param name="max">100.0</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">1.57</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <!-- CONFIGURE THE GAZEBO PLUGIN -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find hyperdog_description)/config/ros_control/ros_control.yaml</parameters>
        </plugin>
    </gazebo>

      <!-- CONFIGURE the p3d da informacion de odometria  -->
    <gazebo>
      <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
        <ros>
            <remapping>odom:=odom/ground_truth</remapping>
        </ros>

        <body_name>base_link</body_name>
        <frame_name>world</frame_name>
        <update_rate>10.0</update_rate>
        <xyz_offset>0 0 0</xyz_offset>
        <rpy_offset>0 0 0</rpy_offset>
        <gaussian_noise>0.01</gaussian_noise>
      </plugin>
    </gazebo>


    <!-- CONFIGURE the imu_plugin agrega un sensor imu al modelo  -->
    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <imu>
            <angular_velocity>
                <x>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </x>
                <y>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </y>
                <z>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                </noise>
                </z>
            </angular_velocity>
            <linear_acceleration>
                <x>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </x>
                <y>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </y>
                <z>
                <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                </noise>
                </z>
            </linear_acceleration>
            </imu>
            <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
                <ros>
                    <namespace>imu</namespace>
                    <remapping>~/out:=data</remapping>
                </ros>
                <initial_orientation_as_reference>false</initial_orientation_as_reference>
            </plugin>
        </sensor>
    </gazebo>




</robot>


